.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  text-align: center;
}

.Desc,
.Link {
  font-size: clamp(20px, 2.9vmin, 40px);
}

.Link {
  margin-top: 14px;
}
