.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
  padding: 5px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.15);
  }
}

.Name {
  font-size: clamp(24px, 3.1vmin, 48px);
  padding: 16px 20px 20px;
}
